._article {
	margin-block-end: 2rem;
	text-align: justify;
}

.article-thumbnail_ {
	max-height: 10rem;
	object-fit: cover;
}

.article-flex__ {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.article-read-more_ {
	font-family: var(--font-mono);
	font-size: var(--font-size-secondary);
	text-transform: uppercase;
	letter-spacing: 0.06em;
	text-decoration: none;
	border-block-end: var(--border-shorthand);
}

.article-date_ {
	font-size: var(--font-size-secondary);
	color: rgba(43, 41, 37, 0.6);
}

/* Featured Section / Featured Article */

.__article-featured-section {
	border-block-end: var(--border-shorthand);
}

._article-featured .article-featured-thumbnail_ {
	max-height: 16.25rem;
}

._article-featured .article-date_ {
	display: block;
	margin-block-end: 1em;
}

/* Recent Section */

._article-recent-section-title {
	text-align: center;
}